# SPDX-FileCopyrightText: Copyright (c) 2023-2026, NVIDIA CORPORATION.
# SPDX-License-Identifier: Apache-2.0

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v5.0.0'
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-builtin-literals
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-yaml
      - id: debug-statements
      - id: requirements-txt-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
  - repo: https://github.com/asottile/pyupgrade
    rev: 'v3.20.0'
    hooks:
      - id: pyupgrade
        args:
          - --py310-plus
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.16.0'
    hooks:
      - id: mypy
        args:
          - --config-file=pyproject.toml
          - --exclude
          - '^tests/examples/'
          - src/
          - tests/
        pass_filenames: false
        additional_dependencies:
          - --extra-index-url=https://pypi.anaconda.org/rapidsai-wheels-nightly/simple
          - bashlex
          - freezegun
          - gitpython
          - packaging
          - pytest
          - rapids-metadata>=0.3.1
          - rich
          - tomlkit
          - types-PyYAML
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ["--severity=warning"]
  - repo: https://github.com/rapidsai/pre-commit-hooks
    rev: v1.4.3
    hooks:
      - id: verify-copyright
        args: [--fix, --spdx]
        files: |
          (?x)
            [.]py$|
            [.]pre-commit-config[.]yaml$|
            [.]pre-commit-hooks[.]yaml$|
            pyproject[.]toml$|
            [.]flake8$|
            [.]gitignore$
        exclude: |
          (?x)^(
            tests/examples/
          )
