name: Lint

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - id: earliest-python-version
        uses: ./.github/actions/earliest-python-version
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ steps.earliest-python-version.outputs.python-version }}
      - name: Lint
        run: ./ci/lint.sh
